<!DOCTYPE html>
<html>
  <head>
    <title>TesteLemmoney</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,900&display=swap">
    <link rel="stylesheet" href="https://cdn.linearicons.com/free/1.0.0/icon-font.min.css">
  </head>

  <body class="<%= body_class('admin') %>">
    <%= render partial: 'layouts/components/header.app'  %>
    <%= yield %>
  </body>
</html>
