<!DOCTYPE html>
<html>
  <head>
    <title>TesteLemmoney</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,900&display=swap" rel="stylesheet">
  </head>

  <body class="<%= body_class %>">
    <%= render partial: 'layouts/components/header.site'  %>
    <%= yield %>
  </body>
</html>
